body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(143, 10, 143);
}

.contanier{
  width: 300px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin:20px auto;
}


.todo{
  width: 200px;
}

.img{
  width: 100px;
  height: 100px;

}

.input{
  position: relative;
  width: 100%;
  display: flex;
  /* overflow: hidden; */
}
.input  input {
  padding: 0.22rem;
  font-size: 1rem;

}
.plus{
margin-top: 2px;
cursor: pointer;
}

.todo-list{
  margin-top:12px ;
  display: flex;
  justify-content: space-between;
  background-color: rgb(105, 4, 105);
  width: 100%;
  word-break: break-word ;
  text-decoration: none;
}



.todo-list ul{
  list-style-type: none;
  padding: 0.12rem;
  margin: 122px;

}

.img1{

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 30px;
  height: 30px;
  position: relative;
  top: 12px;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  color: black;
  background: transparent;


}
.img1:hover{
  background-color: red;
}

.btn{
  margin-top: 12px;
}
.btn2{
  padding: 0.30rem;
  font-size: large;
  margin: 0.20rem;
  background: transparent;
  cursor: pointer;
}

.icon{
  display: flex;

}
.active {
  margin-top: 2px;
  width: 30px;
  height: 30px;
  cursor: pointer;
} 

.active:hover{
  background-color: greenyellow;
}